---
- name: Create /opt/lighthouse directory
  become: true
  ansible.builtin.file:
    state: directory
    path: "/opt/lighthouse"
    mode: "0777"

- name: git config
  ansible.builtin.command: "git config --global --add safe.directory /opt/lighthouse"
  changed_when: false

- name: Copy from git
  ansible.builtin.git:
    repo: "https://github.com/VKCOM/lighthouse.git"
    version: master
    dest: /opt/lighthouse
- name: Create lighthouse config
  become: true
  ansible.builtin.template:
    src: templates/lighthouse.conf.j2
    dest: /etc/nginx/conf.d/default.conf
    mode: "0644"
  notify: Reload-nginx
