---
- name: Install nginx package
  become: true
  ansible.builtin.apt:
    name: nginx
    update_cache: true
- name: Create nginx config
  become: true
  ansible.builtin.template:
    src: templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: "0644"
  notify: Reload-nginx
